.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(233, 236, 236);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.244);
}
.header .logo {
  color: rgb(17, 73, 77);
  font-weight: 600;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.header .logo .icon {
  font-size: 25px;
  color: rgb(17, 73, 77);
  transform: translateY(5px);
}

@media screen and (max-width: 768px) {
  .header .navBar {
    position: absolute;
    background: rgb(233, 236, 236);
    height: -moz-max-content;
    height: max-content;
    width: 60%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.3s ease-in-out;
  }
  .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem .navLink {
    color: #044f5a;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .header .navBar .navLists .navItem .navLink:hover,
  .on {
    color: #0fa7be;
    font-weight: 600;
    font-size: 1rem;
  }
  .header .navBar .navLists .btn {
    margin-top: 1rem;
  }
  .header .navBar .navLists .btn a {
    font-weight: 600;
    color: #f6f6f6;
  }
  .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: #007a8c;
  }
  .header .navBar .closeNavbar:hover {
    color: #4eb7c7;
  }
  .header .activeNavbar {
    top: 7rem;
  }
}
.header .toggleNavbar .icon {
  font-size: 25px;
  color: #007a8c;
}
.header .toggleNavbar:hover.icon {
  color: #91d0da;
}

@media screen and (min-width: 769px) {
  .toggleNavbar,
  .closeNavbar {
    display: none;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .navBar .navLists .navItem .navLink {
    color: #044f5a;
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .header .navBar .navLists .navItem .navLink:hover,
  .on {
    color: #0fa7be;
    font-weight: 600;
    font-size: 1rem;
  }
  .header .navBar .navLists .btn {
    margin-left: 1rem;
  }
  .header .navBar .navLists .btn a {
    color: #f6f6f6;
    font-weight: 500;
  }
}
@media screen and (min-width: 960px) {
  .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1240px) {
  .header {
    padding: 1rem 8.5rem;
  }
}
